<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"> -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="../css/style.css" rel="stylesheet" >
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.6.3.js"></script>
    <title>EVE Settings Manager</title>
  </head>
  <body>
    <div class="d-flex flex-column">
      <div id="server-section" class="border-bottom row">
        <div class="col-4">
          <div class="btn-group">
            <img src="../assets/server.svg" class="server-icon me-2" id="server-icon"/>
            <select id="server-select" class="form-select" aria-label="Default select example">
            </select>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-between">
          <div class="d-flex flex-column">
            <span id="server-status-title"></span>
            <span id="server-status"></span>
          </div>
          <h2 id="server-title" class=""></h2>
          <div class="d-flex flex-column">
            <span id="player-count-title"></span>
            <span id="player-count"></span>
          </div>
        </div>
        <div class="col-4">
          <div class="btn-group">
            <img src="../assets/language.svg" class="server-icon me-2" id="lang-icon"/>
            <select id="language-select" class="form-select" aria-label="Default select example">
              <option value="en">English</option>
              <option value="zh-CN">简体中文</option>
            </select>
          </div>
        </div>
      </div>
      <div id="folder-section" class="border-bottom">
        <div id="folder-selector border-bottom">
          <select id="folder-select" class="form-select" aria-label="Default select example">
          </select>
        </div>
        <div id="folder-buttons" class="d-flex justify-content-evenly mt-2">
          <button id="select-folder-btn" type="button" class="btn btn-outline-primary">select folder</button>
          <button id="open-folder-btn" type="button" class="btn btn-outline-primary">open folder</button>
        </div>
      </div>
      <div id="table-section" class="row flex-grow-1">
        <div class="col-7 border-end">
          <h5 id="char-table-title">Characters</h5>
          <div class="table-wrapper">
            <select id="char-select" class="form-select" size="19">
              <option class="loading-opt"></option>
            </select>
          </div>
          <div id="char-table-btn-group">
            <button id="edit-char-description-btn" type="button" class="btn btn-info">edit description</button>
            <button id="overwrite-char-btn" type="button" class="btn btn-success">overwrite all</button>
            <button id="overwrite-selected-char-btn" type="button" class="btn btn-outline-success">overwrite some</button>
          </div>
        </div>
        <div class="col-5">
          <h5 id="account-table-title">Accounts</h5>
          <div class="table-wrapper">
            <select id="user-select" class="form-select" size="19">
              <option class="loading-opt"></option>
            </select>
          </div>
          <div id="account-table-btn-group d-flex justify-content-evenly">
            <button id="edit-account-description-btn" type="button" class="btn btn-info">edit description</button>
            <button id="overwrite-account-btn" type="button" class="btn btn-success">overwrite accounts</button>
            <button id="overwrite-selected-account-btn" type="button" class="btn btn-outline-success">login</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./renderer.js"></script>
</html>