<style>
  select > option {
    font-size: 18px;
  }
</style>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="../css/style.css" rel="stylesheet" >
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>EVE Settings Manager</title>
  </head>
  <body>
    <div class="w-100">
      <h1 id="select-title">Title</h1>
      <div class="mb-3 mx-3 w-auto">
        <select id="target-select" class="form-select w-100" size="18" multiple></select>
      </div>
      <div class="d-flex justify-content-around">
        <button id="confirm-btn" type="button" class="btn btn-success w-25">overwrite accounts</button>
        <button id="cancel-btn" type="button" class="btn btn-outline-warning w-25">cancel</button>
      </div>
    </div>
  </body>
</html>

<script>
  'use strict';
  
  const $ = require('jquery')
  const { ipcRenderer, remote } = require('electron')
  const { getLocale } = require('../js/change-language')

  const prefixes = {
    "user": "core_user_",
    "char": "core_char_"
  }

  let localArgs
  const locale = getLocale()
  const selectTitle = $('#select-title')
  const select = $('#target-select')
  const confirmBtn = $('#confirm-btn')
  const cancelBtn = $('#cancel-btn')
  confirmBtn.text(locale.buttons.confirm)
  selectTitle.text(locale.titles.selectOverwriteTargets)
  cancelBtn.text(locale.buttons.cancel)

  // render the other options as candidates
  ipcRenderer.on('loadSelect', (event, args) => {
    localArgs = args
    const options = args.targets
    for (const option of options) {
      select.append($('<option>', {
        value: option.split(' - ')[0],
        text: option
      }))
    }
  })

  // confirm overwrite
  confirmBtn.on('click', (e) => {
    e.preventDefault()
    const prefix = localArgs.type == 'char' ? prefixes.char : prefixes.user
    const selected = select.find(':selected').toArray().map(x => prefix + x.value + '.dat')
    localArgs.targets = selected
    ipcRenderer.send('returnSelected', localArgs)
  })

  // cancel selection, close window
  cancelBtn.on('click', (e) => {
    e.preventDefault()
    ipcRenderer.send('cancelSelected')
  })
</script>