:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

tr {
  line-height: 25px;
  min-height: 25px;
  height: 25px;
}

#server-section {
  width: 100vw;
  height: 50px;
}

#server-section img {
  height: 25px;
  margin: auto;
}

#server-section select {
  width: 20vw;
}

#server-section .btn-group > img#server-icon {
  filter: invert(49%) sepia(47%) saturate(6672%) hue-rotate(178deg) brightness(92%) contrast(98%);
}

#server-section .btn-group > img#lang-icon {
  filter: invert(71%) sepia(60%) saturate(482%) hue-rotate(19deg) brightness(85%) contrast(97%);
}

#folder-section {
  width: 100vw;
  height: 80px;
}

#folder-section #folder-buttons > button{
  width: 20vw;
}

#folder-section > #folder-selector > select{
  font-size: 35px;
}

#table-section {
  width: 100vw;
  /* height: 80vh; */
}

#table-section button {
  width: 45%;
  margin-top: 5px;
}

#table-section .table-wrapper {
  height: 370px;
  overflow-y: auto;
}