:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

tr {
  line-height: 25px;
  min-height: 25px;
  height: 25px;
}

#server-section {
  width: 100vw;
  height: 50px;
  position: absolute;
  top: 10px;
}

#server-section img {
  height: 25px;
  margin: auto;
}

#server-section select {
  width: 20vw;
}

#server-section .btn-group > img#server-icon {
  filter: invert(49%) sepia(47%) saturate(6672%) hue-rotate(178deg) brightness(92%) contrast(98%);
}

#server-section .btn-group > img#lang-icon {
  filter: invert(71%) sepia(60%) saturate(482%) hue-rotate(19deg) brightness(85%) contrast(97%);
}

#folder-section {
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 60px;
}

#folder-section #folder-buttons > button{
  width: 20vw;
}

#folder-section > #folder-selector > select{
  font-size: 35px;
}

#folder-section > #folder-buttons > button#clear-cache-btn {
  position: relative;
}

#folder-section > #folder-buttons > button#clear-cache-btn:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  bottom: 2.5rem;
  left: 0.5rem;
  background-color: #333;
  color: white;
  padding: .25em .5em;
}

#select-titles {
  position: absolute;
  width: 100%;
  top: 145px;
}

#select-buttons {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

#select-buttons button {
  width: 30%;
  font-size: 16px;
  white-space: nowrap;
  padding: 1px;
}

#table-section {
  position: absolute;
  width: 100%;
  top: 175px;
}

#table-section select > option{
  font-size: 18px;
  /* zoom: 1.1; */
}

#select-buttons button.overwrite-btn {
  position: relative;
}

#select-buttons button.overwrite-btn:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  bottom: 2.5rem;
  left: 0.5rem;
  background-color: #333;
  color: white;
  padding: .25em .5em;
}
